<footer class="footer">
    <div class="container-fluid d-flex">

        <a class="footer__logo" href="#">
            <img src="img/logo.png" alt="Золотий ключик">
        </a>

        <ul class="footer__contact d-flex">
            <li class="footer__link">
                <a href="mailto:example@gmail.com">Наша ел. пошта</a>
            </li>
            <li class="footer__link">
                <a href="tel:+3800000000">Наш телефон</a>
            </li>
            <li class="footer__link">
                <a href="#">Ми у Facebook</a>
            </li>
        </ul>

    </div>
</footer>