<header class="header">

    <div class="header__wrap">

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <img src="../img/logo.png" alt="Золотий ключик">
                </a>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Головна
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Сторінка психолога</a></li>
                                <li><a class="dropdown-item" href="#">Сторінка муз. керівника</a></li>
                                <li><a class="dropdown-item" href="#">Доктор радить</a></li>
                                <li><a class="dropdown-item" href="#">Батькам</a></li>
                                
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Новини</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Фотогалерея</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Наша команда</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Відправка заявки</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>

        <div class="container-xxl">
            <div class="row align-items-center mt-100">

                <div class="col form-wrap">
                    <div class="header__open-hc">
                        <img class="i-middle" src="../img/door.png" alt="Двері до щасливого дитинства">

                        <div class="header__right-i character">
                            <img class="i-top" src="../img/right-t.png" alt="Буратіно">
                            <img class="i-bottom" src="../img/right-d.png" alt="Валлі">
                        </div>

                        <div class="header__left-i character">
                            <img class="i-top" src="../img/left-t.png" alt="Вінні Пух">
                            <img class="i-bottom" src="../img/left-d.png" alt="М'ячі">
                        </div>
                    </div>

                    <form class="header__form d-none">
                        <div class="form-text">Для батьків</div>
                        <div class="mb-3">
                            <input required placeholder="Ваше ім'я" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input required type="tel" placeholder="Телефон" class="form-control">
                        </div>
                        <div class="form-text">Для дитини</div>
                        <div class="mb-3">
                            <input required type="text" placeholder="Прізвище" class="form-control">
                        </div>

                        <div class="mb-3">
                            <input required type="text" placeholder="Ім'я дитини" class="form-control">
                        </div>

                        <div class="mb-3">
                            <input type="text" placeholder="По батькові" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-check-label" for="sex-select">Стать</label>
                            <select id="sex-select" class="form-select">
                                <option selected disabled></option>
                                <option>Хлопчик</option>
                                <option>Дівчинка</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Реєстрація</button>
                    </form>
                </div>

                <div class="col">
                    <div class="header__entry">
                        <h1 class="header__title">ДНЗ № 9 <br>
                            "Золотой ключик"</h1>
                        <div class="header__text">
                            Відкрийте двері в щасливе дитинство разом з нами!
                        </div>
                        <button id="registration" type="button" class="btn btn-primary btn-lg ">Відкрити</button>

                    </div>
                </div>

            </div>
        </div>

</header>